<div class="card-body">
    {{ form_start(form) }}
    <nav>
        <div class="nav nav-tabs" id="tab-college" role="tablist">
            <button class="nav-link active" id="nav-groupe-tab" data-bs-toggle="tab" data-bs-target="#college" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Le collège</button>
            <button class="nav-link" id="nav-groupe-tab" data-bs-toggle="tab" data-bs-target="#groupe" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Le Groupe</button>
            <button class="nav-link" id="nav-groupe-tab" data-bs-toggle="tab" data-bs-target="#media" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Illustrations du collège</button>
        </div>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="college" role="tabpanel" aria-labelledby="college-tab">
            <div class="form-row">
                <div class="col">
                    <div class="form-group row mt-1 mb-1">
                        {{ form_label(form.name, "Collège", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.name) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.address, "Adresse", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.address) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.address) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <div class="col-sm-9 offset-sm-3">
                            {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.complement) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.complement) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.zipcode, "CP / Ville", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-3">
                            {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.zipcode) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.zipcode) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.city) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.city) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.collegeEmail, "Email du collège", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.collegeEmail, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.collegeEmail) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.collegeEmail) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.collegePhone, "Téléphone du collège", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.collegePhone, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.collegePhone) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.collegePhone) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="groupe" role="tabpanel" aria-labelledby="groupe-tab">
            <div class="form-row">
                <div class="col">
                    <div class="form-group row mt-1 mb-1">
                        {{ form_label(form.animateur, "Animateur du groupe", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.animateur, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.animateur) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.animateur) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.groupPhone, "Téléphone du groupe", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.groupPhone, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.groupPhone) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.groupPhone) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.groupEmail, "Email du groupe", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.groupEmail, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.groupEmail) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.groupEmail) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.GroupDescription, "Présentation du groupe", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.GroupDescription, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.GroupDescription) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.GroupDescription) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-1 mb-1">
                        {{ form_label(form.workMeeting, "Réunion du Groupe :", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.workMeeting, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            <small>{{ form_help(form.workMeeting) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.workMeeting) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
            <div class="form-row">
                <div class="col">
                    <div class="form-group row mt-1 mb-1">
                        {{ form_label(form.headerFile, "Bannière du collège", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.headerFile) }}
                            <small>{{ form_help(form.headerFile) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.headerFile) }}
                            </div>
                        </div>
                        {% if college.headerName is not null %}
                            <div class="col-9 offset-2">
                                <img class="img-fluid" src="{{ asset('uploads/images/colleges/' ~ college.headerName) }}" alt="{{ college.headerName }}">
                            </div>
                            {% if app.request.attributes.get('_route') == 'op_admin_college_edit' or app.request.attributes.get('_route') == 'op_webapp_college_edit' %}
                                <div class="text-center col-8">
                                    {{ form_label(form.isSupprHeader, "Supprimer la bannière ") }}
                                    {{ form_widget(form.isSupprHeader) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="form-group row mb-1">
                        {{ form_label(form.logoFile, "Photo de Profil", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.logoFile) }}
                            <small>{{ form_help(form.logoFile) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.logoFile) }}
                            </div>
                        </div>
                        {% if college.logoName is not null %}
                        <div class="col-3 offset-4">
                            <img class="img-fluid" src="{{ asset('uploads/images/colleges/' ~ college.logoName) }}" alt="{{ college.logoName }}">
                        </div>
                            {% if app.request.attributes.get('_route') == 'op_admin_college_edit' or app.request.attributes.get('_route') == 'op_webapp_college_edit' %}
                                <div class="text-center col-8">
                                    {{ form_label(form.isSupprLogo, "Supprimer le logo ") }}
                                    {{ form_widget(form.isSupprLogo) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="bouton_form">
        <button class="btn btn-sm btn-outline-warning">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

