{% extends 'admin.html.twig' %}

{% block title %}College index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // active ou désactive l'utilisateur sélectionné de la plateforme
            function onClickBtnVerified(event){
                event.preventDefault();
                const url = this.href;                                          // variable qui récupère l'url inclus dans le "this"
                const icone = this.querySelector('i');
                axios
                    .get(url)
                    .then(function(response) {
                        if(icone.classList.contains('fa-check-circle')) {
                            icone.classList.replace('fa-check-circle', 'fa-times-circle');
                            icone.classList.replace('text-success', 'text-danger');
                        }
                        else {
                            icone.classList.replace('fa-times-circle', 'fa-check-circle');
                            icone.classList.replace('text-danger', 'text-success');
                        }
                    });
            }

            // Modal suppr une ligne
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'un membre"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer le collège sélectionné.<br><b>Etes-vous bien sur de vouloir continuer ?</b>"
            })

            // function Suppression de la ligne en cours
            function onClickDelEvent(event){
                //event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/op_admin/college/del/'+ id)
                    .then(function(response)
                    {
                        const liste = document.getElementById('liste').innerHTML;
                        console.log(liste);

                        // Evènement sur le bouton js-verified
                        document.querySelectorAll('a.js-verified').forEach(function (link){
                            link.addEventListener('click', onClickBtnVerified);
                        })

                        // Bouton de suppression de la ligne en cours
                        document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                            link.addEventListener('click', onClickDelEvent)
                        })

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Evènement sur le bouton js-verified
            document.querySelectorAll('a.js-verified').forEach(function (link){
                link.addEventListener('click', onClickBtnVerified);
            })

            // Bouton de suppression de la ligne en cours
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/college/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            {{ include('admin/college/include/_section_content_aside.html.twig') }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4>Liste des membres du site</h4>
                                <p>Créer, Modifier ou supprimer des utilisateurs du site.</p>
                            </div>
                            <div id="op_actions">
                                <button class="btn btn-sm btn-outline-secondary">Supprimer</button>
                            </div>
                        </div>
                        <div id="liste">
                            {{ include('/admin/college/include/_liste.html.twig') }}</div>
                        {# module de pagintaion hérité de KnpPaginator #}
                        <div class="navigation">
                            {# Ajout du template personnalisé pour la pagination en fin du block #}
                            {{ knp_pagination_render(colleges, 'include/pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}