<div class="row" id="row_college">
    {% for college in colleges %}
        <div class="col-3" id="bloc_college">
            <div class="card">
                {% if college.logoName%}
                <img src="{{ vich_uploader_asset(college, 'logoFile', 'App\\Entity\\Admin\\College') | imagine_filter('thumb_card_college')}}" alt="{{ college.logoName }}" style="max-height: 240px">
                {% else %}
                <img src="{{ asset('/uploads/images/config/' ~ config.vignetteName)|imagine_filter('thumb_card_college') }}" alt="{{ config.vignetteName }}">
                {% endif %}
                <div class="card-body">
                    <h5><a href="{{ path('op_webapp_college_show2', {'id': college.id}) }}">{{ college.name }}</a></h5>
                    <p class="card-text">{{ college.city }}</p>
                </div>
            </div>
        </div>
        {% if loop.index % 4 == 0 %}
        </div>
        <div class="row" id="row_college">
        {% endif %}
        {% else %}
    {%  endfor %}
</div>



