{{ form_start(form) }}
<div class="form-row">
    <div class="col">
        <div class="form-group row">
            {{ form_label(form.subject, "Sujet", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.subject) }}
                <small>{{ form_help(form.subject) }}</small>
                <div class="form-error">
                    {{ form_errors(form.subject) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.recipient, "Destinataire.s", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.recipient) }}
                <small>{{ form_help(form.recipient) }}</small>
                <div class="form-error">
                    {{ form_errors(form.recipient) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.content, "contenu", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.content, {'attr': {'rows':'10'}}) }}
                <small>{{ form_help(form.content) }}</small>
                <div class="form-error">
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-outline-info">{{ button_label|default('Envoyer le message') }}</button>
    </div>
</div>
{{ form_end(form) }}
