{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {% if college.headerName is null %}
            {% else %}
                <div class="col-12" id="content_header_img">
                    <img id="college_header" class="img-fluid" src="{{ vich_uploader_asset(college, 'headerFile' ) }}" alt="{{ college.headerName }}">
                    <div id="college_logo">
                        <img class="img-fluid" src="{{ vich_uploader_asset(college, 'logoFile' ) }}" alt="{{ college.logoName }}">
                    </div>
                    <div id="college_titre">
                        <h3>Espace privé Collège : {{ college.name }}</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="container"  id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>ECRIRE UN MESSAGE</h5>
                        <p>Vous pouvez envoyer un message à un collège ou plusieurs inscrit dans le dispositif.</p>
                        <hr>
                    </div>
                </div>
                {{ include('webapp/message/_form.html.twig') }}
            </div>
            {{ render(controller('App\\Controller\\Admin\\CollegeController:blocAdminCollege', {'id':college.id})) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#message_content'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}