{% extends 'base.html.twig' %}

{% block title %}Collègiens-citoyens{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container"  id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>Répondre au message de : {{ message.author }}</h5>
                        <hr>
                    </div>
                </div>
                {{ include('webapp/message/_form.html.twig') }}
            </div>
            {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#reply_content'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}