{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>MESSAGE</h5>
                    </div>
                    <div class="col-12">
                        <a href="{{ path('op_webapp_message_reply_mail', {'id' : message.id}) }}" class="btn btn-outline-dark btn-sm" ><i class="fas fa-angle-left"></i> Répondre</a>
                        <button class="btn btn-outline-dark btn-sm" ><i class="fas fa-angle-double-left"></i>Transférer</button>
                        <a href="{{ path('op_webapp_message_delete', {'id': message.id}) }}" class="btn btn-outline-danger btn-sm" ><i class="fas fa-trash"></i> Supprimer</a>
                    </div>
                </div>
                <hr>
                <div class="row" id="content_body">
                    <div class="col-12">
                        <div>
                            <p class="align-content-end">Message envoyé le : {{ message.createAt | date('d M y', "Europe/Paris") }}</p>
                        </div>
                        <div class="alert alert-secondary">
                            <dl class="row">
                                <dt class="col-2">De :<br>sujet :</dt>
                                <dl class="col-10">{{ message.author }}<br>{{ message.subject }}</dl>
                                <dt class="col-2">Contenu :</dt>
                                <dl class="col-10">{{ message.content | raw }}</dl>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
            {{ include('admin/college/include/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}
