<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Ressource</th>
            <th>Content</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td><input id="ressourcesId" type="checkbox" value="{{ ressource.id }}"></td>
                <td>{{ ressource.name }}</td>
                <td>{{ ressource.content }}</td>
                <td>
                    <a href="{{ path('op_webapp_ressources_show', {'id': ressource.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('op_webapp_ressources_edit', {'id': ressource.id}) }}"><i class="far fa-edit"></i></a>
                    <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ ressource.id }}">
                        <i class="bi bi-eraser text-danger"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

