<section
        {#  {% if section.attrId is null %}{% else %}id="{{ section.attrId }}"{% endif %} #}
        {% if section.fluid == 0 %}
        class="container"
        {% elseif section.fluid == 1 %}
        class="container-fluid"
        {% endif %}
        style="">
    <div id="section_title" class="mt-3">
        <div class="row">
            {% if section.isShowtitle == 1 %}
            <div class="col">
                <h2>{{ section.name|upper }}</h2>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    <div id="section_content" class="mb-3">
        <div class="row">
            {% if section.isShowtitle == 1 %}
            <div class="col-12">
                <p>{{ section.descriptif|raw }}</p>
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {% if section.content == 'ONE_ARTICLE' %}
                {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listArticlesBySection', {'idsection': section.id})) }}
                {% elseif section.content == 'ONE_CATEGORY' %}
                {% elseif section.content == 'FIVE_ARTICLES' %}
                {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listFiveArticles', {'category': section.category})) }}
                {% elseif section.content == 'ONE_COLLEGE' %}
                {{ render(controller('App\\Controller\\Admin\\CollegeController::show', {'id': section.singleCollege})) }}
                {% elseif section.content == 'ALL_COLLEGES' %}
                {{ render(controller('App\\Controller\\Admin\\CollegeController::listCollegesBySection', {'idsection': section.id})) }}
                {% elseif section.content == 'OTHER_CONTENT' %}
                {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listArticlesBySectionOther', {'idsection': section.id})) }}
                {% elseif section.content == 'ALL_RESSOURCES' %}
                {{ render(controller('App\\Controller\\Webapp\\RessourcesController::sectionListAll')) }}
                {% elseif section.content == 'ALL_RESSOURCES' %}
                {{ render(controller('App\\Controller\\Webapp\\RessourcesController::sectionlistOneCategory', {'category': section.ressourcescat})) }}
                {% endif %}
            </div>
        </div>
    </div>
</section>