{% if college.headerName is null %}
{% else %}
    <div class="col-12" id="content_header_img">
        <img id="college_header" class="img-fluid" src="{{ vich_uploader_asset(college, 'headerFile', 'App\\Entity\\Admin\\College' ) | imagine_filter('thumb_bandeau_college') }}" alt="{{ college.headerName }}">
        <div id="college_logo">
            <img class="img-fluid" src="{{ vich_uploader_asset(college, 'logoFile', 'App\\Entity\\Admin\\College' ) | imagine_filter('thumb_logo_college') }}" alt="{{ college.logoName }}">
        </div>
        <div id="college_titre">
            <h3>Espace privé Collège : {{ college.name }}</h3>
        </div>
    </div>
{% endif %}