<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark container">
        <a class="navbar-brand" href="{{path('op_webapp_public_homepage')}}"><img src="{{ vich_uploader_asset(config, 'logoFile' ) }}" alt="{{ config.logoName }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link">
                    <a class="nav-item" href="{{ path('op_webapp_home') }}">ACCUEIL<span class="sr-only">(current)</span></a>
                </li>
                {% for page in pages %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('op_webapp_page', {slug: page.slug}) }}">{{ page.title|upper }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}
                <li class="nav-link">
                    <a class="nav-item" href="https://wiki.collegiens-citoyens.openpixl.fr" target="_blank">WIKI</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
