{% extends 'admin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function(){
            // Construction de la fonction OnClickBtnMenu
            function onClickBtnMenu(event){
                event.preventDefault();
                const url = this.href;                                          // variable qui récupère l'url inclus dans le "this"
                const icone = this.querySelector('i');                          // variable qui sélectionne l'élément balise <i></i>
                axios
                    .get(url)
                    .then(function(response) {
                        if(icone.classList.contains('fa-check-circle')) {
                            icone.classList.replace('fa-check-circle', 'fa-times-circle');
                            icone.classList.replace('text-success', 'text-danger');
                        }
                        else {
                            icone.classList.replace('fa-times-circle', 'fa-check-circle');
                            icone.classList.replace('text-danger', 'text-success');
                        };
                    });
            }

            // Code d'ouverture de la modale de suppression d'une ligne
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'un article"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer l'article sélectionnée.<br><b>Etes-vous sur de continuer ?</b>"
            })

            // Code de suppression lors du clic sur le bouton de la modal "Suppr"
            function onClickDelEvent(event){
                event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/webapp/article/del/'+ id)
                    .then(function(response)
                    {
                        // rafraichissement du tableau
                        const liste = document.getElementById('liste').innerHTML = response.data.liste;

                        document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                            link.addEventListener('click', onClickDelEvent)
                        })

                        // préparation du toaster
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Ajout d'un event sur Bouton de suppression dans la fenêtre modale
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })
        }
    </script>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('webapp/articles/include/_section_content_header.html.twig') }}
        <section id="op_admin_content_body">
            <div class="row g-2">
                <div class="col-2">
                    {{ include('webapp/articles/include/_section_content_aside.html.twig') }}
                </div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4>Liste des articles</h4>
                                    <p>Créer, Modifier ou supprimer des articles du site</p>
                                </div>
                                <div id="op_actions" class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            {{ form_start(form) }}
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group row g-1">
                                                        <div class="input-group mb-3">
                                                            <div class="col-sm-9">
                                                                {{ form_widget(form.title) }}
                                                            </div>

                                                            <div class="col-sm-3">
                                                                {{ form_widget(form.go) }}
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <div class="col-sm-3">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-sm btn-outline-secondary">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="liste">
                                {{ include('webapp/articles/include/_liste.html.twig') }}
                            </div>
                            {# module de pagination hérité de KnpPaginator #}
                            <div class="navigation">
                                {# Ajout du template personnalisé pour la pagination en fin du block #}
                                {{ knp_pagination_render(articles, 'include/pagination.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
