{% if articles %}
<div id="content" class="row">
    <div class="col-12 g-0">
        <div id="SlideEvent" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
            <div class="carousel-inner">
                <div class="carousel-indicators">
                    {% for article in articles %}
                    <button type="button" data-bs-target="#SlideEvent" data-bs-slide-to="{{ loop.index - 1 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index}}"></button>
                    {% endfor %}
                </div>
            </div>
            {% for article in articles %}
                <div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
                    {% if article.imageName is not null %}
                        <img src="{{ vich_uploader_asset(article, 'imageFile', 'App\\Entity\\Webapp\\Articles') | imagine_filter('thumb_img_article') }}" class="d-block" alt="{{ article.title }}">
                    {% else %}
                        <img src="{{ asset('uploads/images/fixes/img_article_none.png')}}" alt="...">
                    {% endif %}
                    <div class="carousel-caption d-md-block">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-start"><a href="{{ path('op_webapp_articles_articleSlug', {'slug':article.slug}) }}">{{ article.title }}</a></h2>
                                <p class="text-start">{{ article.content |u.truncate(200, ' ...')| raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
    <div id="content" class="row">
        <div class="col-12">
            <p>pas d'article</p>
        </div>
    </div>
{% endif %}

