{% if articles %}
<div id="content" class="row">
    <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
                {% for article in articles %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% if article.imageName is not null %}
                                <div class="col-3">
                                    <img class="img-fluid center-block" src="{{ vich_uploader_asset(article, 'imageFile', 'App\\Entity\\Webapp\\Articles' ) }}" alt="{{ article.imageName }}">                                </div>
                                <div class="col-9">
                                    <h5>{{ article.title }}</h5>
                                    <p>{{ article.content|u.truncate(400, ' ...')|raw }}</p>
                                    <a href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">Lire la suite ...</a>
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <h5>{{ article.title }}</h5>
                                    <p>{{ article.content|u.truncate(400, ' ...')|raw }}</p>
                                    <a href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">Lire la suite ...</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>
{% else %}
    <div id="content" class="row">
        <div class="col-12">
            <p>pas d'article</p>
        </div>
    </div>
{% endif %}