    <div id="content" class="row">
        {% if article.imageName is null %}
            <div class="col-12" id="content_text">
                {% if article.isTitleShow == 1 %}
                <div class="row">
                    <div class="col-12">
                        <h3><a href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">{{ article.title }}</a></h3>
                    </div>
                </div>
                {% endif %}
                {% if article.isShowReadMore == 1 %}
                    <p>{{ article.content|u.truncate(600, ' ...')|raw }}</p>
                    <a class="content-readmore" href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">Lire la suite</a>
                {% else %}
                    <p>{{ article.content|raw }}</p>
                {% endif %}
                {% if article.idsupport == 0 %}
                {% elseif article.idsupport == 1 %}
                    <div class="col-12" id="content_support">
                        <h3 class="text-center mt-3">
                        <audio class="text-center" controls="controls">
                            <source src="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}" type="audio/mp3" />
                            Votre navigateur ne supporte pas la balise AUDIO.
                        </audio>
                        </h3>
                    </div>
                {% elseif article.idsupport == 2 %}
                    <div class="col-12" id="content_support">
                        <video controls width="100%">
                            <source src="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}" type="video/mp4">
                            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                Voici <a href="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}">un lien pour télécharger la vidéo sur votre ordinateur</a>.</p>
                        </video>
                    </div>
                {% elseif article.idsupport == 3 %}
                    <div class="col-12" id="content_support">

                    </div>
                {% else %}
                    <div class="col-12" id="content_support">

                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="col-3 g-0">
                <img id="img_article" class="img-fluid" src="{{ vich_uploader_asset(article, 'imageFile' ) | imagine_filter('thumb_img_article') }}" alt="{{ article.imageName }}">
            </div>
            <div class="col-9 g-0" id="content_text">
                {% if article.isTitleShow == 1 %}
                    <div class="row">
                        <div class="col-12">
                            <h3><a href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">{{ article.title }}</a></h3>
                        </div>
                    </div>
                {% endif %}
                {% if article.isShowReadMore == 1 %}
                    <p>{{ article.content|u.truncate(600, ' ...')|raw }}</p>
                    <a class="content-readmore" href="{{ path('op_webapp_articles_show', {'id': article.id}) }}">Lire la suite</a>
                {% else %}
                    <p>{{ article.content|raw }}</p>
                {% endif %}
                {% if article.idsupport == 0 %}
                {% elseif article.idsupport == 1 %}
                    <div class="col-12" id="content_support">
                        <h3 class="text-center mt-3">
                            <audio class="text-center" controls="controls">
                                <source src="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}" type="audio/mp3" />
                                Votre navigateur ne supporte pas la balise AUDIO.
                            </audio>
                        </h3>
                    </div>
                {% elseif article.idsupport == 2 %}
                    <div class="col-12" id="content_support">
                        <video controls width="100%">
                            <source src="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}" type="video/mp4">
                            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                Voici <a href="{{ vich_uploader_asset(article, 'docFile', 'App\\Entity\\Webapp\\Articles') }}">un lien pour télécharger la vidéo sur votre ordinateur</a>.</p>
                        </video>
                    </div>
                {% elseif article.idsupport == 3 %}
                    <div class="col-12" id="content_support">

                    </div>
                {% else %}
                    <div class="col-12" id="content_support">

                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

