{% if not college %}
    <div class="col-12" id="content_header_img">
        <div id="college_titre">
            <h3>Bienvenue {{ app.user.firstName }} {{ app.user.lastName }}</h3>
        </div>
    </div>
{% elseif college.headerName is null %}
{% else %}
    <div class="col-12" id="content_header_img">
        <img id="college_header" class="img-fluid" src="{{ asset('uploads/images/colleges/' ~ college.logoName)|imagine_filter('thumb_bandeau_college') }}" alt="{{ college.headerName }}">
        {% if college.logoName is null %}
        {% else %}
        <div id="college_logo">
            <img class="img-fluid" src="{{ asset('uploads/images/colleges/' ~ college.logoName)|imagine_filter('thumb_logo_college') }}" alt="{{ college.logoName }}">
        </div>
        {% endif %}
        <div id="college_titre">
            <h3>Espace privé Collège : {{ college.name }}</h3>
        </div>
    </div>
{% endif %}