{% if sections %}
{% for section in sections %}
    <section class="container{% if section.fluid == 1 %}-fluid{% else %}{% endif %}" id="page_content" name="{{ section.name }}">
        {% if section.content == 'ONE_ARTICLE' %}
            {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listArticlesBySection', {'idsection': section.id})) }}
        {% elseif section.content == 'ONE_CATEGORY' %}
        {% elseif section.content == 'FIVE_ARTICLES' %}
            {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listFiveArticles', {'category': section.category})) }}
        {% elseif section.content == 'ONE_COLLEGE' %}
            {{ render(controller('App\\Controller\\Admin\\CollegeController::show', {'id': section.singleCollege})) }}
        {% elseif section.content == 'ALL_COLLEGES' %}
            {{ render(controller('App\\Controller\\Admin\\CollegeController::listCollegesBySection', {'idsection': section.id})) }}
        {% elseif section.content == 'OTHER_CONTENT' %}
            {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listArticlesBySectionOther', {'idsection': section.id})) }}
        {% endif %}
    </section>
{%  endfor %}
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="alert alert-warning">Pas de contenu</h3>
            </div>
        </div>
    </div>
{% endif %}