<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="{{ asset('js/ckeditor5/build/ckeditor.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
            {% if app.request.attributes.get('_route') == 'op_webapp_public_homepage'%}
                {{ render(controller('App\\Controller\\Admin\\ConfigController::headerShow')) }}
            {% endif %}
        {% endblock %}
        {% block mainnav %}
            {{ render(controller('App\\Controller\\Webapp\\PageController::listmenu')) }}
        {% endblock %}
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
    {% block Modals %}
        <section>
            <div class="modal fade" id="ModalWarning" tabindex="-1" aria-labelledby="ModalAlert" aria-hidden="true">
                <div class="modal-dialog bg-warning">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermeture</button>
                            <button id="btnPushReq" type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
                <div class="toast-container position-absolute bottom-100 end-0 p-3">
                    <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <img style="height:1rem" src="{{ asset('uploads/images/fixes/img_ressource_none.png') }}" class="rounded me-2" alt="...">
                            <strong class="me-auto">Collégiens-citoyens</strong>
                            <small class="text-muted">A l'instant</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            Hello, world! This is a toast message.
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
    {% block footer %}
        <div class="container-fluid" id="op_footer">
            <div class="row" id="op_footer1">
                <div class="col-3">
                    <h6>Partenaires</h6>
                    <img src="/uploads/images/fixes/Francas-logo.gif" alt="Francas">
                    <img src="/uploads/images/fixes/CD40.png" alt="Conseil départemental des Landes">
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <h6>FRANCAS DES LANDES</h6>
                    <p>3, Allée de la solidarité<br/>
                        40000 MONT DE MARSAN</p>
                    <p>Tel : 05 58 46 33 54</p>
                </div>
            </div>
            <div class="row" id="op_footer2">
                <div class="col-md-6 col-sm-12">
                    <p>&copy; Collégiens-Citoyens 2020 - Site réalisé par <a href="https://www.openpixl.fr">OpenPixl</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="text-end">
                        <a href="{{ path('op_webapp_page', {'slug':'mentions'}) }}">Mentions légales</a> |
                        <a href="">contacts</a> |
                        {% if not app.user %}
                            <a href="{{ path('op_admin_security_login') }}">se connecter</a>
                        {% endif %}
                        {% if app.user %}
                            <a href="{{ path('op_webapp_espcoll') }}">Espace collégiens</a> |
                            <a href="{{ path('op_admin_security_logout') }}">se déconnecter</a>
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    {% endblock %}

</footer>
</body>
</html>
