<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="{{ asset('js/ckeditor5/build/ckeditor.js') }}"></script>
        <script type="module" src="{{ asset('js/spinning.js') }}" defer></script>
        <script type="module" src="{{ asset('js/onload.js') }}"></script>
        <script type="module" src="{{ asset('js/onSubmit.js') }}"></script>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        {% if app.request.attributes.get('_route') == 'op_webapp_public_homepage'%}
            {{ render(controller('App\\Controller\\Admin\\ConfigController::headerShow')) }}
        {% endif %}
    {% endblock %}
    {% block mainnav %}
        {{ render(controller('App\\Controller\\Webapp\\PageController::listmenu')) }}
    {% endblock %}
</header>
<main>
    <div class="loader">
        <div class="mb-2">
            <p>Merci de patienter jusqu'au chargement complet de la page.<br></p>
        </div>
        <div>
            <spinning-dots class="large"></spinning-dots>
        </div>
    </div>
    <!-- This will create a loader with a 68px width -->
    {% block body %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
        <div class="container-fluid" id="op_footer">
            <div class="row" id="op_footer1">
                <div class="col-3">
                    <h6>Partenaires</h6>
                    <img src="/uploads/images/fixes/Francas-logo.gif" alt="Francas">
                    <img src="/uploads/images/fixes/CD40.png" alt="Conseil départemental des Landes">
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <h6>FRANCAS DES LANDES</h6>
                    <p>3, Allée de la solidarité<br/>
                        40000 MONT DE MARSAN</p>
                    <p>Tel : 05 58 46 33 54</p>
                </div>
            </div>
            <div class="row" id="op_footer2">
                <div class="col-md-6 col-sm-12">
                    <p>&copy; Collégiens-Citoyens 2020 - Site réalisé par <a href="https://www.openpixl.fr">OpenPixl</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="text-end">
                        <a href="{{ path('op_webapp_page', {'slug':'mentions'}) }}">Mentions légales</a> |
                        <a href="">contacts</a> |
                        {% if not app.user %}
                            <a href="{{ path('op_admin_security_login') }}">se connecter</a>
                        {% endif %}
                        {% if app.user %}
                            <a href="{{ path('op_webapp_espcoll') }}">Espace collégiens</a> |
                            <a href="{{ path('op_admin_security_logout') }}">se déconnecter</a>
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    {% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('bundles/ckeditor5/build/ckeditor.js') }}"></script>
{% endblock %}
</body>
</html>
